<h1><%= @flat.name %></h1>

<ul>
  <li><%= @flat.name %></li>
  <li><%= @flat.address %></li>
  <li><%= @flat.description %></li>
  <li>Price per night: <%= @flat.price_per_night %> $</li>
  <li>Number of guests: <%= @flat.number_of_guests %></li>
</ul>
<%= link_to 'edit', edit_flat_path %>
<%= link_to 'delete', flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'back to the list', flats_path %>
